<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="LegalConnectionString"
         connectionString="Data Source=Nawzat-PC;Initial Catalog=legal_affairs;Persist Security Info=True;User ID=LegalAffairsAdmin;Password=123456" />-->
	  <add name="LegalConnectionString"
	 connectionString="Data Source=HP;Initial Catalog=legal_affairs;Integrated Security=True"/>

  </connectionStrings>
</configuration>